<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Noto+Sans+KR:wght@100;400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_mainpage.css' %}?after">
    {% block style %}{% endblock %}
    <title>mainpage</title>
</head>

<body>
    <section class="container">
        <section class="header">
            <section class="logo">
                <section class="logobar">
                    <div class="logo_left">
                        <div id="logo_image"></div>
                        <div id="logo_letter"></div>
                    </div>
                    <div class="logo_right">
                        {% if user.is_authenticated %}
                        {% else %}
                        <div class="login">
                            <a href="{% url 'accounts:login' %}">
                                <p>로그인</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </section>
            </section>

            <section class="banner">
                <a href="{% url 'main:guide' %}">
                <div id="banner_image"></div>
                </a>            
            </section>

            <section class="iconbar">
                <section class="iconbar_box">
                    <div class="icon_1">
                        {% if user.is_authenticated %}
                        <a href="{% url 'post:wrote_post' %}">
                            {% else %}
                            <a href="{% url 'accounts:login' %}" onclick="return confirm('로그인 후 이용해주세요');">
                                {% endif %}
                                <i class="fas fa-pen-alt" style="color: #70c488;"></i>
                            </a>
                            <p>글쓰기</p>
                    </div>
                    <div class="icon_2">
                        <i class="fas fa-home"></i>
                        <p>홈</p>
                    </div>

                    <div class="icon_3">
                        {% if user.is_authenticated %}
                        <a href="{% url 'users:mypage' %}">
                            {% else %}
                            <a href="{% url 'accounts:login' %}" onclick="return confirm('로그인 후 이용해주세요');">
                                {% endif %}
                                <i class="fas fa-user-alt" style="color: #66c081;"></i>
                                <p>마이</p>
                            </a>
                    </div>
                </section>
            </section>

            <section class="searchbar">
                <form action="{% url 'main:search' ' ' %}" method="POST">
                    {% csrf_token %}
                    <div class="search_row1">
                        <input type="text" name="word" id="" placeholder="Search">
                        <button type="submit" name="submit" id="submit_btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                    <div class="search_row2">
                        <div>
                            <select name="field" id="search_field">
                                <option value="전체">모집 분야</option>
                                <option value="공모전">공모전</option>
                                <option value="프로젝트">프로젝트</option>
                                <option value="대외활동">대외활동</option>
                                <option value="창업">창업</option>
                            </select>
                        </div>
                        <div>
                            <select name="track" id="search_track">
                                <option value="전체">모집 트랙</option>
                                <option value="기획">기획</option>
                                <option value="마케터">마케터</option>
                                <option value="영상">영상</option>
                                <option value="디자인">디자인</option>
                                <option value="개발">개발</option>
                                <option value="기자단">기자단</option>
                                <option value="봉사">봉사</option>
                                <option value="기타">기타</option>
                            </select>
                        </div>
                    </div>

                </form>
            </section>

            <section class="categorybar">
                <section class="category_box">
                    <div id="track1">
                        <a href="{% url 'main:mainpage_competition' %}">
                            <p>공모전,프로젝트</p>
                        </a>
                    </div>
                    <div id="track2">
                        <a href="{% url 'main:mainpage_supporters' %}">
                            <p>대외활동</p>
                        </a>
                    </div>
                    <div id="track3">
                        <a href="{% url 'main:mainpage_entrepreneur' %}">
                            <p>창업</p>
                        </a>
                    </div>
                </section>
            </section>
            {% block teamlist %}

            {% endblock%}
            <section class="emptybar">
                <p>ver 1.1</p>
                <p>likeliondgu 똑쟁이들</p>
                <p>develop by. 김혜수, 박지호, 이주원, 전병현, 차은호</p>
            </section>
        </section>
    </section>



</body>

</html>