<!DOCTYPE html>
{% load static %}
<html lang="ko">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <title>로그인</title>

</head>

<body>

    <!-- 고정 시계바 -->

    <header>
        <a>9:41</a>
        <a>정보입력</a>
    </header>

    <!-- 로그인 글씨 -->

    <div class="top">
        <img src="{% static 'images/logo.png' %}" alt="로고" width="100px">
        <p><span style="font-size: 30px;"><b>로그인</b><br></span>
            login</p>
    </div>

    <!-- 입력칸 ~ 로그인 버튼 -->
    <div class="input">
        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            <input type="text" style="border-top-style: none;
            border-right-style: none;
            border-bottom-style: solid 3px gray;
            border-left-style: none;" placeholder="example@dgu.ac.kr" name="email" required>

            <br><br><br><br>

            <input type="password" style="border-top-style: none;
            border-right-style: none;
            border-bottom-style: solid 3px gray;
            border-left-style: none;" placeholder="비밀번호 규정" name="password" required>
            <br><br><br>
            <button style="border: none;">로그인하기</button>
        </form>
    </div>

    <!-- 비밀번호찾기 버튼 -->
    <section>
        <div class="find_pw">
            비밀번호찾기
        </div>
    </section>

    <!-- 아직 회원이 아니신가요 이하 -->
    <section>
        <div class="join">회원가입
        </div>
    </section>
</body>

</html>