<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">


    <title>로그인</title>

</head>

<body>

    <!-- 고정 시계바 -->

    <header>
        <a>9:41</a>
        <a>정보입력</a>
    </header>

    <!-- 로그인 글씨 -->

    <div id="top">
        <img src="{% static 'images/logo.png' %}" alt="로고" width="100px">
        <p><span style="font-size: 40px;"><b>로그인</b><br></span>
            <span style="font-size: 20px;">login</span>
        </p>
    </div>

    <!-- 입력칸 ~ 로그인 버튼 -->
    <div id="input">
        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}
            <label for="id">동국대학교 이메일</label>
            <input type="text" placeholder="email" name="email" required>

            <br><br>

            <label for="pw">비밀번호</label>
            <input type="password" placeholder="password" name="password" required>
            <br><br><br>

            <section>
                <button style="border: none;">로그인하기</button>
            </section>
        </form>
    </div>

    <!-- 비밀번호찾기 버튼 -->
    <section>
        <div id="find_pw" style="color:#66C081; text-decoration: underline; font-size: 16px;">
            <a href="{% url 'accounts:pw_finder' %}" style="color: #66C081;"">비밀번호 찾기</a>
        </div>
    </section>
    <section style=" font-size: 20px;">아직 회원이 아니신가요?
    </section>

    <section>
        <div id="join">
            <a href="{%url 'accounts:signup' %}">회원가입</a>
        </div>
        </form>
    </section>
</body>

</html>