<!DOCTYPE html>
<html lang="ko">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pw_finder.css' %}">

    <title>비밀번호 찾기</title>

</head>

<body>

    <!-- 고정 시계바 -->

    <div class="lock">
        <p style="font-size: 28px;">비밀번호 찾기<br><br>
    </div>

    <div id="input">
        <form action="{% url 'accounts:pw_finder' %}" method="POST">
            {% csrf_token %}
            <label for="name">동국대학교 이메일</label>
            <div id="input_btn">
            <input type="email" placeholder="예) likelion@dgu.ac.kr" name="email" id="input_email" required>

                <div class="check">
                    <a onclick="sendEmail()">인증 전송</a></div>
            </div>

            <label for="name">이메일 인증</label>
            <input type="text" placeholder="인증번호를 입력해주세요" name="code" id="input_code" required>

            <div class="check">
                <a onclick="verify_code()";">인증 확인</a></div>


            <label for="name">새로운 비밀번호 입력</label>
            <input type="password" placeholder="영문/숫자/특수문자 조합 가능 (8자 이상)" name="password" required>

            <label for="name">새로운 비밀번호 확인</label>
            <input type="password" placeholder="비밀번호를 다시 한 번 입력해주세요" name="confirm" required>
    </div>

    </div>
    <section>
        <button style="border: none;">비밀번호 저장하기</button>
        </form>
    </section>
    </div>
    <script>
        function sendEmail() {
            var emailInput = document.getElementById("input_email");
            var email = emailInput.value;
            var pagename = 'pw_finder';

            fetch("{% url 'accounts:send_email' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ email: email, pagename: pagename })
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    console.log(data);
                })
                .catch(error => {
                    // 에러 처리
                    alert("error");
                });
        }

        function verify_code() {
            var emailInput = document.getElementById("input_email");
            var codeInput = document.getElementById("input_code");
            var email = emailInput.value, code = codeInput.value;
            fetch("{% url 'accounts:verify_email' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ email: email, code: code })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.is_same === true) {
                        alert('인증이 완료되었습니다!')
                        console.log("일치");
                    } else if (data.is_same === false) {
                        alert('다시 시도해주세요.')
                        console.log("불일치");
                    } else {
                        console.log("예외 처리");
                    }
                })
                .catch(error => {
                    alert("error");
                });
        }</script>
</body>


</html>