<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <title>회원가입</title>

</head>

<body>
    <!-- 고정 시계바 -->

    <!-- 로그인 글씨 -->

    <div id="top">
        <img src="{% static 'images/logo.png' %}" alt="로고" width="56px" height="44.21px">
        <p><span style="font-size: 40px;"><b>회원가입</b><br></span>
            <span style="font-size: 20px;">Sign up</span>
        </p>
    </div>

    <!-- 입력칸 -->


    <div id="input">
        <form method="POST" action="{% url 'accounts:signup' %}">
            {% csrf_token %}
            <label for="name">이름</label>
            <input type="text" placeholder="이름을 입력해주세요" name="name" required>

            <!-- 인증번호 맞는지 확인 -->
            <div id="check3">
                <a onclick="verify_code()">확인</a>
            </div>

            <label for="name">동국대학교 이메일</label>
            <input type="email" placeholder="예) likelion@dgu.ac.kr" name="email" id="input_email" required>

            <!-- 이메일 보내는 버튼 -->
            <div id="test">
                <a onclick="sendEmail()">인증번호 전송</a>
            </div>
            <!-- 인증번호가 제대로 왔는지 확인하는 버튼 -->
            <label for="name">이메일 인증</label>
            <input type="text" placeholder="인증번호를 입력해주세요" name="code" id="input_code" required>

            <div id="check_2">
                <a onclick="nickname_redundant_check()">중복 확인</a>
            </div>

            <label for="name" style="padding-top: 0;">닉네임</label>
            <input type="text" placeholder="닉네임은 추후 수정 불가능합니다" name="nickname" id="input_nickname" equired>

            <label for="name">비밀번호</label>
            <input type="password" placeholder="영문/숫자/특수문자 조합 가능 (8자 이상)" name="password" id="password" required>
            <span id="password-error" style="color: #ff0000;"></span>

            <label for="name">비밀번호 확인</label>
            <input type="password" placeholder="비밀번호를 다시 한 번 입력해주세요" name="confirm" id="confirm_password" required>
            <span id="confirm-password-error" style="color: red;"></span>


            <!-- 동의항목 -->

            <section><br>
                <div class="agree">
                    <input type="checkbox" name="[]" value="check" width="12.8%" required> 서비스 이용약관 동의 (필수)
                    <span style="margin-left: 70px;"><a href="{% url 'accounts:terms_of_use' %}"
                            style="color: gray; text-decoration: underline;">상세보기</a></span>
                </div>

                <div class="agree">
                    <input type="checkbox" name="[]" value="check" width="12.8%" required> 개인정보 수집 및 이용 동의 (필수)
                    <span style="margin-left: 31px;"><a href="{% url 'accounts:privacy' %}"
                            style="color: gray; text-decoration: underline;">상세보기</a></span>
                </div>


                <div class="agree">
                    <input type="checkbox" name="[]" value="check" width="12.8%" required> 만 14세 이상입니다 (필수)
                </div>

                <div class="agree">
                    <input type="checkbox" name="[]" value="check" width="12.8%"> 광고성 정보 수신 동의 (선택)
                </div>
            </section>

            <section join>
                <div id="join">
                    <button style="border: none; background-color: gray;" id="signup" disabled="true">회원가입하기</button>
                </div>
            </section>
        </form>
    </div>
    </div>
    <script>
        var is_vaild_email = false;
        function setIsValidEmail(value) {
            is_vaild_email = value;
        }
        var is_vaild_nickname = false;
        function setIsValidNickname(value) {
            is_vaild_nickname = value;
        }
        var is_vaild_password = false;
        var is_confirm_password = false;

        function enable_or_disable_signup() {
            var button = document.getElementById("signup");
            if (is_vaild_nickname && is_vaild_email && is_vaild_password && is_confirm_password) {
                button.style.backgroundColor = '#FF8859';
                button.disabled = true;
            }
            else {
                button.style.backgroundColor = 'gray';
                button.disabled = false;
            }
        }

        function sendEmail() {
            var emailInput = document.getElementById("input_email");
            var email = emailInput.value;
            var pagename = 'signup';

            fetch("{% url 'accounts:send_email' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ email: email, pagename: pagename })
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    console.log(data);
                })
                .catch(error => {
                    // 에러 처리
                    alert("error");
                });
        }

        // 여기부터 지피티 ^^.. //
        function verify_code() {
            is_vaild_email = false;
            var emailInput = document.getElementById("input_email");
            var codeInput = document.getElementById("input_code");
            var email = emailInput.value, code = codeInput.value;
            fetch("{% url 'accounts:verify_email' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ email: email, code: code })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.is_same === true) {

                        
                        setIsValidEmail(true)
                        enable_or_disable_signup()
                        console.log("Verification code is correct");
                        alert('인증번호가 확인되었습니다.')
                    } else {
                        setIsValidEmail(false)
                        console.log("Verification code is incorrect");
                        alert('인증번호를 다시 확인해주세요.')
                        alert("Incorrect verification code. Please try again.");
                    }
                })
                .catch(error => {
                    console.log("Error occurred during verification");
                    //이건 먼지 모르겟지만~~
                    alert("Error occurred during verification. Please try again later.");
                });
        }

        // 여기까지~~~~~

        function nickname_redundant_check() {
            var nicknameInput = document.getElementById("input_nickname");
            var nickname = nicknameInput.value;
            fetch("{% url 'accounts:nickname_redundant_check' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ nickname: nickname })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.is_redundant === true) {
                        //중복될 때
                        alert('사용 불가능한 닉네임입니다.')
                        setIsValidNickname(false)
                        console.log("중복");
                    } else if (data.is_redundant === false) {
                        //중복되지 않을때
                        alert('사용 가능한 닉네임입니다.')
                        setIsValidNickname(true)
                        enable_or_disable_signup()
                        console.log("중복X");
                    } else {
                        console.log("예외 처리");
                    }
                })
                .catch(error => {
                    alert("error");
                });
        }

        document.getElementById('password').addEventListener('input', validatePassword);
        document.getElementById('confirm_password').addEventListener('input', validateConfirmPassword);

        function validatePassword() {
            var passwordInput = document.getElementById('password');
            var password = passwordInput.value;
            var passwordError = document.getElementById('password-error');

            if (password.length < 8) {
                is_vaild_password = false;
                passwordError.textContent = '비밀번호는 8자 이상이어야 합니다.';
            }
            else if (!(password.includes('@') || password.includes('!') || password.includes('?') || password.includes('#') || password.includes('&') || password.includes('*'))) {
                is_vaild_password = false;
                passwordError.textContent = '비밀번호는 특수문자(@,!,?,#,&.*)를 포함해야합니다.';
            }
            else {
                is_vaild_password = true;
                enable_or_disable_signup()
                passwordError.textContent = '';
            }
        }

        function validateConfirmPassword() {
            var passwordInput = document.getElementById('password');
            var confirmPasswordInput = document.getElementById('confirm_password');
            var password = passwordInput.value;
            var confirmPassword = confirmPasswordInput.value;
            var confirmPasswordError = document.getElementById('confirm-password-error');

            if (password !== confirmPassword) {
                confirmPasswordError.textContent = '비밀번호가 일치하지 않습니다.';
            } else {
                is_confirm_password = true;
                enable_or_disable_signup()
                confirmPasswordError.textContent = '';
            }
        }
    </script>

</body>

</html>