<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <title>회원가입</title>

</head>

<body>
    <!-- 고정 시계바 -->

    <header>
        <a>9:41</a>
        <a>정보입력</a>
    </header>

    <!-- 로그인 글씨 -->

    <div id="top">
        <img src="{% static 'images/logo.png' %}" alt="로고" width="100px">
        <p><span style="font-size: 40px;"><b>회원가입</b><br></span>
            <span style="font-size: 20px;">Sign up</span>
        </p>
    </div>

    <!-- 입력칸 -->


    <div id="input">
        <form method="POST" action="{% url 'accounts:signup' %}">
            {% csrf_token %}
            <label for="name">이름</label>
            <input type="text" placeholder="이름을 입력해주세요" name="name" required>

            <div id="check">
                <a onclick="verify_code()">인증 확인</a>
            </div>

            <label for="name">동국대학교 이메일</label>
            <input type="email" placeholder="예) likelion@dgu.ac.kr" name="email" id="input_email" required>
            <!-- 아래는  임시로 들어간 버튼 -->
            <div>
                <a onclick="sendEmail()">이메일 전송</a>
            </div>
            <!-- 위는 임시로 들어간 버튼 -->
            <label for="name">이메일 인증</label>
            <input type="text" placeholder="인증번호를 입력해주세요" name="code" id="input_code" required>

            <div id="check_2">
                <a onclick="nickname_redundant_check()">중복 확인</a>
            </div>

            <label for="name" style="padding-top: 0;">닉네임</label>
            <input type="text" placeholder="닉네임은 추후 수정 불가능합니다" name="nickname" id="input_nickname" equired>

            <label for="name">비밀번호</label>
            <input type="password" placeholder="영문/숫자/특수문자 조합 가능 (8자 이상)" name="password" required>

            <label for="name">비밀번호 확인</label>
            <input type="password" placeholder="비밀번호를 다시 한 번 입력해주세요" name="confirm" required>


            <!-- 동의항목 -->

            <section><br>
                <div class="agree">
                    <input type="checkbox" name="[]" value="check" width="12.8%" required> 서비스 이용약관 동의 (필수)
                    <span style="margin-left: 70px;"><a href="{% url 'accounts:terms_of_use' %}"
                            style="color: gray; text-decoration: underline;">상세보기</a></span>
                </div>

                <div class="agree">
                    <input type="checkbox" name="[]" value="check" width="12.8%" required> 개인정보 수집 및 이용 동의 (필수)
                    <span style="margin-left: 31px;"><a href="{% url 'accounts:privacy' %}"
                            style="color: gray; text-decoration: underline;">상세보기</a></span>
                </div>


                <div class="agree">
                    <input type="checkbox" name="[]" value="check" width="12.8%" required> 만 14세 이상입니다 (필수)
                </div>

                <div class="agree">
                    <input type="checkbox" name="[]" value="check" width="12.8%"> 광고성 정보 수신 동의 (선택)
                </div>
            </section>

            <section join>
                <div id="join">
                    <button style="border: none;">회원가입하기</button>
                </div>
            </section>
        </form>
    </div>
    </div>
    <script>
        function sendEmail() {
            var emailInput = document.getElementById("input_email");
            var email = emailInput.value;
            var pagename = 'signup';

            fetch("{% url 'accounts:send_email' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ email: email, pagename: pagename })
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    console.log(data);
                })
                .catch(error => {
                    // 에러 처리
                    alert("error");
                });
        }

        function verify_code() {
            var emailInput = document.getElementById("input_email");
            var codeInput = document.getElementById("input_code");
            var email = emailInput.value, code = codeInput.value;
            fetch("{% url 'accounts:verify_email' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ email: email, code: code })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.is_same === true) {
                        //인증이 완료되었을 때 페이지 내부 변에 인증이 완료된 'email'과 인증 완료됨을 알 수 있는 "boolean"갑을 저장
                        console.log("일치");
                    } else if (data.is_same === false) {
                        //인증 안될떄
                        console.log("불일치");
                    } else {
                        console.log("예외 처리");
                    }
                })
                .catch(error => {
                    alert("error");
                });
        }

        function nickname_redundant_check() {
            var nicknameInput = document.getElementById("input_nickname");
            var nickname = nicknameInput.value;

            fetch("{% url 'accounts:nickname_redundant_check' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ nickname: nickname })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.is_redundant === true) {
                        //중복될 때
                        console.log("중복");
                    } else if (data.is_redundant === false) {
                        //중복되지 않을때
                        console.log("중복X");
                    } else {
                        console.log("예외 처리");
                    }
                })
                .catch(error => {
                    alert("error");
                });
        }
    </script>

</body>




</html>