<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/post.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <title>post</title>
    <script defer src="{% static 'js/post.js' %}"></script>
</head>

<body>
    <section class="container">
        <section class="header">
            <section class="iconbar">
            
            </section>

            <section class="write">
                <h1>WRITING</h1>
            </section>

            <!-- 기존에 있던 글을 편집할때 rendering되는 부분 -->
            {% if post %}
            <form action="{% url 'post:update' post.id %}" method="post">
            {% csrf_token %}
            <section class="pohto">
                <div class="upload_photo">
                    <img src="{{ post.image.url }}" alt="사진">
                </div>
            </section>
            
            <section class="upload">
                <section class="upload_box">
                    <div id="upload_button">
                        <input type="file" id="fileInput" name="image" accept=".jpg, .jpeg, .png" multiple value="첨부할 사진 올리기">
                    </div>
                    <div id="remove_button">
                        <button type="button" onclick="resetFileInput()">사진 제거하기</button>
                    </div>
                </div>
                </section>
            </section>

            <section class="putinfo">
                <section class="putinfo_box">
                    <input type="text" name="put_team" value="{{ post.team_name }}" required>
                    <input type="text" name="put_subject" value="{{ post.title }}" required>
                </section>
            </section>

            <p><a style="font-weight: 600; font-size:25px; color: #003A38;">키워드</a>   키워드를 선택해주세요</p>
            
            <section class="keyword">
                <div class="field">
                    <div id="green_field">
                        <p>모집 분야</p>
                    </div>
                    <div id="white_field">
                        <div id="select">
                            <button id="field_btn_1" type="button" >프로젝트</button>
                            <button id="field_btn_2" type="button">공모전</button>
                            <button id="field_btn_3" type="button">대외활동</button>
                            <button id="field_btn_4" type="button">창업</button>
                        </div>

                    </div>
                </div>

                <div class="track">
                    <div id="green_field">
                        <p>모집 트랙</p>
                    </div>
                    <div id="white_field">
                        <div id="select">
                            <button id="track_btn_1" type="button" onclick="changeBackgroundColor()">기획</button>
                            <button id="track_btn_2" type="button">마케터</button>
                            <button id="track_btn_3" type="button">영상</button>
                            <button id="track_btn_4" type="button">디자인</button>
                        </div>
                        <div id="select">
                            <button id="track_btn_5" type="button">개발</button>
                            <button id="track_btn_6" type="button">기자단</button>
                            <button id="track_btn_7" type="button">봉사</button>
                            <button id="track_btn_8" type="button">기타</button>
                        </div>
                    </div>
                </div>

            </section>

            <section class="notice">
                <div id="notice_box">
                    <b><a style="color: #ff8859;">잠깐!</a>  팀 지원 시 유의사항을 숙지해주세요<br></b>
                    <br>
                    <a style="color: #ff8859;">①</a> CO.끼리는 무분별한 지원을 방지하기 위해
                    팀 지원 후 취소가 불가능합니다. 
                    지원 취소 희망 시, 공고 작성자와 개별 연락 부탁드립니다.
                    <br><br>
                    <a style="color: #ff8859;">②</a> 팀 지원 시, 나의 정보가 공고 작성자께 전달됩니다.
                    개인정보에 민감할 경우 팀 지원을 재고해주시길 바랍니다.
                </div>
            </section>

            <div class="input">
                <p>모집기간</p>
                <input type="text" name="put_date" value="{{ post.recruit_date }}" required>
        
                <p>주최 기관 링크 <a style="color: gray;">(선택)</a></p>
                <input type="text" name="put_link" value="{{ post.link }} " required>
        
                <p>모집 중인 팀원</p>
                <input type="text" name="put_member" value="{{ post.member }}" required>
        
                <p style="font-size: 24px;">ABOUT US</p>
        
                <p style="margin-top: 0px;">팀 상세소개</p>
                <input type="text" name="put_about_us" value="{{ post.about_us }}">
            </div>

            <div class="submit">
                <div class="submit_box">
                    <button type="submit" name="store_btn">임시저장</button>   
                    <button type="submit" name="submit_btn">작성완료</button>
                </div>
            </div>
            </form>

            <!-- 새로운 글을 편집할때 rendering되는 부분 -->
            {% else %}
            <form action="{% url 'post:write' %}" method="post">
                {% csrf_token %}
                <section class="pohto">
                    <div class="upload_photo">
                        <img id="preview" />
                    </div>
                </section>
                
                <section class="upload">
                    <section class="upload_box">
                        <div id="upload_button">
                            <input type="file" id="fileInput" name="image" accept=".jpg, .jpeg, .png" multiple value="첨부할 사진 올리기">
                        </div>
                        <div id="remove_button">
                            <button type="button" onclick="resetFileInput()">사진 제거하기</button>
                        </div>
                    </div>
                    </section>
                </section>
    
                <section class="putinfo">
                    <section class="putinfo_box">
                        <input type="text" name="put_team" placeholder="팀명을 작성해주세요" required>
                        <input type="text" name="put_subject" placeholder="제목을 작성해주세요" required>
                    </section>
                </section>
    
                <p><a style="font-weight: 600; font-size:25px; color: #003A38;">키워드</a>   키워드를 선택해주세요</p>
                
                <section class="keyword">
                    <div class="field">
                        <div id="green_field">
                            <p>모집 분야</p>
                        </div>
                        <div id="white_field">
                            <div id="select">
                                <button id="field_btn_1" type="button" >프로젝트</button>
                                <button id="field_btn_2" type="button">공모전</button>
                                <button id="field_btn_3" type="button">대외활동</button>
                                <button id="field_btn_4" type="button">창업</button>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="track">
                        <div id="green_field">
                            <p>모집 트랙</p>
                        </div>
                        <div id="white_field">
                            <div id="select">
                                <button id="track_btn_1" type="button" onclick="changeBackgroundColor()">기획</button>
                                <button id="track_btn_2" type="button">마케터</button>
                                <button id="track_btn_3" type="button">영상</button>
                                <button id="track_btn_4" type="button">디자인</button>
                            </div>
                            <div id="select">
                                <button id="track_btn_5" type="button">개발</button>
                                <button id="track_btn_6" type="button">기자단</button>
                                <button id="track_btn_7" type="button">봉사</button>
                                <button id="track_btn_8" type="button">기타</button>
                            </div>
                        </div>
                    </div>
    
                </section>
    
                <section class="notice">
                    <div id="notice_box">
                        <b><a style="color: #ff8859;">잠깐!</a>  팀 지원 시 유의사항을 숙지해주세요<br></b>
                        <br>
                        <a style="color: #ff8859;">①</a> CO.끼리는 무분별한 지원을 방지하기 위해
                        팀 지원 후 취소가 불가능합니다. 
                        지원 취소 희망 시, 공고 작성자와 개별 연락 부탁드립니다.
                        <br><br>
                        <a style="color: #ff8859;">②</a> 팀 지원 시, 나의 정보가 공고 작성자께 전달됩니다.
                        개인정보에 민감할 경우 팀 지원을 재고해주시길 바랍니다.
                    </div>
                </section>
    
                <div class="input">
                    <p>모집기간</p>
                    <input type="text" name="put_date" placeholder="23/06/28-23/07/10" required>
            
                    <p>주최 기관 링크 <a style="color: gray;">(선택)</a></p>
                    <input type="text" name="put_link" placeholder="주최기관 링크를 첨부하세요" required>
            
                    <p>모집 중인 팀원</p>
                    <input type="text" name="put_member" placeholder="모집 중인 팀원 / 모집 분야를 작성해주세요" required>
            
                    <p style="font-size: 24px;">ABOUT US</p>
            
                    <p style="margin-top: 0px;">팀 상세소개</p>
                    <input type="text" name="put_about_us" placeholder="팀명을 작성해주세요">
                </div>
    
                <div class="submit">
                    <div class="submit_box">
                        <button type="submit" name="store_btn">임시저장</button>   
                        <button type="submit" name="submit_btn">작성완료</button>
                    </div>
                </div>
                </form>

                {% endif %}
        
        </section>
    </section>
</body>

