<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/post.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav_green.css' %}" />
    <!-- <script defer src="{% static 'js/post.js' %}"></script> -->
    <script>

    </script>
    <style>
        .nav_box a:nth-child(1) {
            color: #003a38;
        }
    </style>
</head>

<body>
    {% include 'shared/_navbar.html' %}
    <section class="container">
        <section class="header">
            <section class="iconbar">

            </section>

            <section class="write">
                <h1>WRITING</h1>
            </section>

            <!-- 기존에 있던 글을 편집할때 rendering되는 부분 -->
            {% if post %}
            <form action="{% url 'post:update' post.id %}" method="post" enctype="multipart/form-data" onsubmit="return">
            {% csrf_token %}
            <section class="pohto">
                <div class="upload_photo">
                    <img id="preview" src="{{ post.image.url }}" alt="사진">
                </div>
            </section>
            
            <section class="upload">
                <section class="upload_box">
                    <div id="upload_button">
                        <input type="file" id="fileInput" name="image" accept=".jpg, .jpeg, .png" multiple
                                value="첨부할 사진 올리기">
                    </div>
                    </section>
                </section>

                <section class="putinfo">
                    <section class="putinfo_box">
                        <input type="text" name="put_team" value="{{ post.team_name }}" required>
                        <input type="text" name="put_subject" value="{{ post.title }}" required>
                    </section>
                </section>

                <p><a style="font-weight: 600; font-size:25px; color: #003A38;">키워드</a> 키워드를 선택해주세요</p>

                <section class="keyword">
                    <div class="field">
                        <div id="green_field">
                            <p>모집 분야</p>

                        </div>
                        <div id="white_field">
                            <div id="select">
                                <button id="field_btn_1" class="field_btn" name="프로젝트" type="button" >프로젝트</button>
                                <button id="field_btn_2" class="field_btn" name="공모전" type="button">공모전</button>
                                <button id="field_btn_3" class="field_btn" name="대외활동" type="button">대외활동</button>
                                <button id="field_btn_4" class="field_btn" name="창업" type="button">창업</button>
                            </div>
                        </div>
                    </div>

                    <div class="track">
                        <div id="green_field">
                            <p>모집 트랙</p>
                        </div>
                        <div id="white_field">
                            <div id="select">
                                <button id="track_btn_1" type="button" name="기획">기획</button>
                                <button id="track_btn_2" type="button" name="마케터">마케터</button>
                                <button id="track_btn_3" type="button" name="영상">영상</button>
                                <button id="track_btn_4" type="button" name="디자인">디자인</button>
                            </div>
                            <div id="select">
                                <button id="track_btn_5" type="button" name="개발">개발</button>
                                <button id="track_btn_6" type="button" name="기자단">기자단</button>
                                <button id="track_btn_7" type="button" name="봉사">봉사</button>
                                <button id="track_btn_8" type="button" name="기타">기타</button>
                            </div>
                        </div>
                    </div>

                    
                    <script>
                    var fieldValue = "{{  post.fieldKey.first.fieldKey  }}";
                    var fieldButton = document.getElementsByName(fieldValue);
                    if (fieldButton.length > 0) {
                        fieldButton[0].style.backgroundColor = "#66C081";
                        fieldButton[0].style.color = "white";
                    }
                    var fieldName = fieldValue
                    console.log(fieldName)
                    
                    var trackName = [];
                    </script>
                    <input type="hidden" onload="setfieldName()">
                    
                    
                    {% for track in post.trackKey.all %}
                    <script>
                    var trackValue = "{{ track.trackKey  }}";
                    var trackButton = document.getElementsByName(trackValue);
                    trackButton[0].style.backgroundColor = "#66C081";
                    trackButton[0].style.color = "white";
                    trackName.push(trackValue);
                    </script>
                    {% endfor %}
    

                </section>

                <section class="notice">
                    <div id="notice_box">
                        <b><a style="color: #ff8859;">잠깐!</a> 팀 지원 시 유의사항을 숙지해주세요<br></b>
                        <br>
                        <a style="color: #ff8859;">①</a> CO.끼리는 무분별한 지원을 방지하기 위해
                        팀 지원 후 취소가 불가능합니다.
                        지원 취소 희망 시, 공고 작성자와 개별 연락 부탁드립니다.
                        <br><br>
                        <a style="color: #ff8859;">②</a> 팀 지원 시, 나의 정보가 공고 작성자께 전달됩니다.
                        개인정보에 민감할 경우 팀 지원을 재고해주시길 바랍니다.
                    </div>
                </section>

                <div class="input">
                    <p>모집기간</p>
                    <input type="text" name="put_date" value="{{ post.recruit_date }}" required>

                    <p>주최 기관 링크 <a style="color: gray;">(선택)</a></p>
                    <input type="text" name="put_link" value="{{ post.link }} " required>

                    <p>모집 중인 팀원</p>
                    <input type="text" name="put_member" value="{{ post.member }}" required>

                    <p style="font-size: 24px;">ABOUT US</p>

                    <p style="margin-top: 0px;">팀 상세소개</p>
                    <input type="text" name="put_about_us" value="{{ post.about_us }}">
                </div>

                <input type="hidden" id="fieldInput" name="fieldKey" value="">
                <input type="hidden" id="trackInput" name="trackKey" value="">

                <div class="submit">
                    <div class="submit_box">
                        <button type="submit" onclick="setMyVariable()" name="store_btn">임시저장</button>   
                        <button type="submit" onclick="setMyVariable()" name="submit_btn">작성완료</button>
                    </div>
                </div>
            </form>
            
            <!-- ------------------------------------------------------------------ -->
            <!-- 새로운 글을 편집할때 rendering되는 부분 -->
            {% else %}
            <script>
            var fieldName = "";
            var trackName = [];
            </script>
            <form action="{% url 'post:write' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <section class="pohto">
                    <div class="upload_photo">
                        <img id="preview" />
                    </div>
                </section>

                <section class="upload">
                    <section class="upload_box">
                        <div id="upload_button">
                            <input type="file" id="fileInput" name="image" accept=".jpg, .jpeg, .png" multiple
                                value="첨부할 사진 올리기">
                        </div>
                    </section>
                </section>

                <section class="putinfo">
                    <section class="putinfo_box">
                        <input type="text" name="put_team" placeholder="팀명을 작성해주세요" required>
                        <input type="text" name="put_subject" placeholder="제목을 작성해주세요" required>
                    </section>
                </section>

                <p><a style="font-weight: 600; font-size:25px; color: #003A38;">키워드</a> 키워드를 선택해주세요</p>

                <section class="keyword">
                    <div class="field">
                        <div id="green_field">
                            <p>모집 분야</p>
                        </div>

                        <div id="white_field">
                            <div id="select">
                                <button id="field_btn_1" class="field_btn" name="프로젝트" type="button" >프로젝트</button>
                                <button id="field_btn_2" class="field_btn" name="공모전" type="button">공모전</button>
                                <button id="field_btn_3" class="field_btn" name="대외활동" type="button">대외활동</button>
                                <button id="field_btn_4" class="field_btn" name="창업" type="button">창업</button>
                            </div>
                        </div>
                    </div>

                    <div class="track">
                        <div id="green_field">
                            <p>모집 트랙</p>
                        </div>
                        <div id="white_field">
                            <div id="select">
                                <button id="track_btn_1" type="button" name="기획">기획</button>
                                <button id="track_btn_2" type="button" name="마케터">마케터</button>
                                <button id="track_btn_3" type="button" name="영상">영상</button>
                                <button id="track_btn_4" type="button" name="디자인">디자인</button>
                            </div>
                            <div id="select">
                                <button id="track_btn_5" type="button" name="개발">개발</button>
                                <button id="track_btn_6" type="button" name="기자단">기자단</button>
                                <button id="track_btn_7" type="button" name="봉사">봉사</button>
                                <button id="track_btn_8" type="button" name="기타">기타</button>
                            </div>
                            
                        </div>
                    </div>

                </section>

                <section class="notice">
                    <div id="notice_box">
                        <b><a style="color: #ff8859;">잠깐!</a> 팀 지원 시 유의사항을 숙지해주세요<br></b>
                        <br>
                        <a style="color: #ff8859;">①</a> CO.끼리는 무분별한 지원을 방지하기 위해
                        팀 지원 후 취소가 불가능합니다.
                        지원 취소 희망 시, 공고 작성자와 개별 연락 부탁드립니다.
                        <br><br>
                        <a style="color: #ff8859;">②</a> 팀 지원 시, 나의 정보가 공고 작성자께 전달됩니다.
                        개인정보에 민감할 경우 팀 지원을 재고해주시길 바랍니다.
                    </div>
                </section>

                <div class="input">
                    <p>모집기간</p>
                    <input type="text" name="put_date" placeholder="23/06/28-23/07/10" required>

                    <p>주최 기관 링크 <a style="color: gray;">(선택)</a></p>
                    <input type="text" name="put_link" placeholder="주최기관 링크를 첨부하세요" required>

                    <p>모집 중인 팀원</p>
                    <input type="text" name="put_member" placeholder="모집 중인 팀원 / 모집 분야를 작성해주세요" required>

                    <p style="font-size: 24px;">ABOUT US</p>

                    <p style="margin-top: 0px;">팀 상세소개</p>
                    <input type="text" name="put_about_us" placeholder="팀명을 작성해주세요">
                </div>

                <input type="hidden" id="fieldInput" name="fieldKey" value="">
                <input type="hidden" id="trackInput" name="trackKey" value="">
                
                <div class="submit">
                    <div class="submit_box">
                        <button type="submit" onclick="setMyVariable()" name="store_btn">임시저장</button>   
                        <button type="submit" onclick="setMyVariable()" name="submit_btn">작성완료</button>
                    </div>
                </div>
            </form>

            {% endif %}

        </section>
    </section>
    <script>

        var track_btn_1 = document.getElementById("track_btn_1");
        var track_btn_2 = document.getElementById("track_btn_2");
        var track_btn_3 = document.getElementById("track_btn_3");
        var track_btn_4 = document.getElementById("track_btn_4");
        var track_btn_5 = document.getElementById("track_btn_5");
        var track_btn_6 = document.getElementById("track_btn_6");
        var track_btn_7 = document.getElementById("track_btn_7");
        var track_btn_8 = document.getElementById("track_btn_8");

        var field_btn_1 = document.getElementById("field_btn_1");
        var field_btn_2 = document.getElementById("field_btn_2");
        var field_btn_3 = document.getElementById("field_btn_3");
        var field_btn_4 = document.getElementById("field_btn_4");

        changeBackgroundColor(track_btn_1);
        changeBackgroundColor(track_btn_2);
        changeBackgroundColor(track_btn_3);
        changeBackgroundColor(track_btn_4);
        changeBackgroundColor(track_btn_5);
        changeBackgroundColor(track_btn_6);
        changeBackgroundColor(track_btn_7);
        changeBackgroundColor(track_btn_8);
        
        changeSingleBackgroundColor(field_btn_1);
        changeSingleBackgroundColor(field_btn_2);
        changeSingleBackgroundColor(field_btn_3);
        changeSingleBackgroundColor(field_btn_4);
        
        function changeBackgroundColor(button) {
            if (button.style.backgroundColor === 'rgb(102, 192, 129)'){
                var clickCount = 1;
                console.log("제발")
            } else{
                var clickCount = 0
            }
            button.addEventListener("click", function() {
            if (clickCount % 2 === 0) {
                button.style.backgroundColor = "#66C081";
                button.style.color = "white";
                if (trackName.includes(button.getAttribute("name"))){
                    console.log("in the list")
                } else{
                    trackName.push(button.getAttribute("name"));
                    console.log("Clicked track name in else:", trackName);
                }
                
            } else {
                button.style.backgroundColor = "#D9D9D9";
                button.style.color = "#747474";
                var index = trackName.indexOf(button.getAttribute("name"));
                trackName.splice(index, 1); // 버튼의 name 값이 trackName 배열에 있으면 제거합니다.
                console.log("Clicked track name in else:", trackName);
            }
            clickCount++;
            });
        }
        
        function changeSingleBackgroundColor(button) {
            var buttons = document.getElementsByClassName("field_btn");
                                
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", function() {
                    // 모든 버튼의 색깔을 초기화
                    for (var j = 0; j < buttons.length; j++) {
                        buttons[j].style.backgroundColor = "#D9D9D9";
                        buttons[j].style.color = "#747474";
                    }
        
                    // 현재 클릭한 버튼의 색깔을 바꿈
                    this.style.backgroundColor = "#66C081";
                    this.style.color = "white";
        
                    fieldName = this.getAttribute("name");
                    console.log("Clicked button name:", fieldName);
                });
            }
        }
        
        function resetFileInput() {
            var fileInput = document.getElementById("fileInput");
            fileInput.value = "";
            
            var previewImage = document.getElementById("preview");
            previewImage.src = "";
        }

        function setDefaultPhoto() {
            document.getElementById("preview").src = "/Users/iambh/Desktop/Workspcae/simba3/media/default/post_image_default.jpg";
        }
        
        function readImage(input) {
            // 인풋 태그에 파일이 있는 경우
            if(input.files && input.files[0]) {
                // 이미지 파일인지 검사 (생략)
                // FileReader 인스턴스 생성
                const reader = new FileReader()
                // 이미지가 로드가 된 경우
                reader.onload = e => {
                    const previewImage = document.getElementById("preview")
                    previewImage.src = e.target.result
                }
                // reader가 이미지 읽도록 하기
                reader.readAsDataURL(input.files[0])
            }
        }
        // input file에 change 이벤트 부여
        const inputImage = document.getElementById("fileInput")
        inputImage.addEventListener("change", e => {
            readImage(e.target)
        })
        
        function setMyVariable() {
            var field = fieldName;
            var fieldInput = document.getElementById("fieldInput");
            fieldInput.value = field;
        
            var track = trackName;
            var trackInput = document.getElementById("trackInput");
            trackInput.value = track;
        }
        </script>
</body>