<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/temporary_save_post.css' %}?v=2"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav_green.css' %}" />
    <title>save_post</title>
</head>

<body>
    <section class="container">
        {% include 'shared/_navbar.html' %}
        <section class="header">
            <section class="write">
                <h1>WRITING</h1>
                <div class="post_btn"><a href="{% url 'post:new' %}"><p><i class="fas fa-pen-alt" style="color: #ffffff;"></i> 새 글 작성</p></a></div>
            </section>

            <section class="categorybar">
                <div id="track1">
                    <a href="{% url 'post:wrote_post' %}">
                        <p>작성한 글</p>
                    </a>
                    </div>
                <div id="track2">
                    <a href="">
                    <p>임시저장 글</p>
                    </a>
                </div>
            </section>
            <section class="writing_category">
                <div class="white_box">
                    {% if posts %}
                    {% for post in posts %}
                    <div class="team">  
                        <div class="team_pic">
                            <img src="{{ post.image.url }}" alt="사진">
                        </div>

                        <div class="right">
                            <div id="row">
                                <h1>{{post.team_name}}</h1>
                                <a href="{% url 'post:delete' post.id %}" onclick="return confirm('게시글을 삭제하시겠습니까?');"><i class="fas fa-trash-alt"></i></a>
                            </div>
                            <p>{{ post.title }}</p>
                            <div class="repost_btn">
                                <a href="{% url 'post:edit' post.id %}">
                                    <p><i class="fas fa-pen-alt" style="color: #ffffff;"></i> 
                                        글 마저 작성하기</p>
                                </a>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                    {% else %}
                    <p>임시 저장된 글이 없습니다</p>
                    {% endif %}
                </div>
            </section>
        </section>
    </section>

</body>

