body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  max-width: 430px;
  min-width: 430px;
  color: #003a38;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  /* border: 1px solid black; */
}

/* 기본정보 설정 텍스트*/
._1 {
  display: flex;
  width: 430px;
  padding-left: 10px;
  height: 46px;
  margin: 40px;
  font-size: 32px;
  font-weight: 500;
  justify-content: space-around;
  align-items: center;
}

#btn {
  display: flex;
  width: 88px;
  height: 29px;
  font-size: 12px;
  color: #ff8859;
  border: 1px solid#ff8859;
  border-radius: 6px;
  box-shadow: 0.3px 1px 2px gray;
  justify-content: center;
  align-items: center;
}

/* 이미지 */
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border: 2px dashed #ff8859;
  border-radius: 100%;
}

/* 닉네임칸 */
._4 {
  display: flex;
  width: 350px;
  height: 51px;
  align-items: center;
  background-color: #ece3d9;
  border: 2px solid #ff8859;
  border-radius: 5px;
  margin: 40px 0 40px 0;
}

.fix {
  width: 63px;
  color: #989898;
  margin: 0 10px 0 20px;
  font-size: 16px;
}

.user {
  color: #003a38;
  font-size: 20px;
}

/* 기본정보 큰틀 */
._5 {
  width: 430px;
  display: flex;
  flex-direction: column;
}

/* 기본정보 텍스트 */
.title {
  font-size: 28px;
  font-weight: 500;
  margin-left: 30px;
  margin: 0 0 12px 30px;
}

/* 기본정보 각 항목 */
._5 .whitebox {
  background-color: white;
  width: 320px;
  height: 64px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-left: 15px;
}

/* 주황박스 */
.carrotbox {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 40px;
  width: 350px;
  height: 300px;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: rgba(255, 136, 89, 0.5);
}

.notice {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 320px;
  height: 64px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-left: 15px;
}

/* 문의하기 ~  */
._6 {
  width: 430px;
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: space-evenly;
}

/* 카카오톡 링크랑 이메일 */
.graybox {
  display: flex;
  width: 350px;
  height: 54px;
  border: 2px solid #8f8f8f;
  border-radius: 5px;
  justify-content: left;
  padding-left: 15px;
  align-items: center;
  margin-left: 40px;
  color: #747474;
  font-size: 20px;
}

/* 회원탈퇴 */
._7 {
  width: 430px;
  height: 100px;
  font-size: 18px;
  font-weight: 400;
  color: #747474;
  margin-left: 80px;
  text-decoration: underline;
  padding: 70px 0 40px 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #747474;
}

._1 a:link,
._1 a:visited {
  color: #ff8859;
}
