p {
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    max-width: 430px;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*------코끼리 배너-------*/
.logo {
    height: 120px;
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logobar {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo_left {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo_image {
    margin-left: 15px;
    width: 25%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url("../images/logo.png");
}

#logo_letter {
    width: 55%;
    height: 55%;
    background-image: url("../images/name.png");
    background-size: 100% 100%;
    margin-left: 10px;
}

.logo_right {
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
}

.login {
    width: 100%;
    height: 50%;
    background-color: #FF8859;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px/20px;
    border: 1px solid rgba(236, 227, 217, 0.8);
}

.logo_right p {
    margin: 0%;
    color: white;
    font-size: 20px;
}

/*---->이용가이드<-----*/
.banner {
    height: 147px;
    width: 430px;
}

#banner_image {
    height: 100%;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    border-radius: 10px;
}

/*---->글쓰기 아이콘<-----*/
.iconbar {
    width: 430px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconbar_box {
    display: flex;
    width: 70%;
    height: 70%;
    justify-content: space-between;
    position: relative;
    top: 10px;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon_1 i,
.icon_2 i,
.icon_3 i {
    align-items: center;
    font-size: 30px;
}

.icon_1 p,
.icon_2 p,
.icon_3 p {
    color: #003A38;
}

.icon_1 p {
    position: relative;
    left: -10px;
}

.icon_2 p {
    position: relative;
    right: -8px;
}


/* search bar */

.searchbar {
    width: 430px;
    height: 130px;
    background: #ECE3D9B2;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar_box {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search_input {
    width: 100%;
    height: 45%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search_input p {
    margin-left: 15px;
    margin-right: 0%;
    font-weight: 500;
    font-size: 20px;
}

.search_input i {
    position: relative;
    left: 270px;
    font-size: 23px;
}

.searchbar_two {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
}

#search_section {
    width: 45%;
    height: 70%;
    background: rgba(255, 255, 255, 0.7);
    border: 4px solid #FF8859;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#search_track {
    width: 45%;
    height: 70%;
    background: rgba(255, 255, 255, 0.7);
    border: 4px solid #66C081;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#search_section p,
#search_track p {
    color: #003A38;
    font-size: 18px;
}

#search_section i,
#search_track i {
    position: relative;
    left: 25px;
    font-size: 18px;
}

/*-----카테고리-----*/
.categorybar {
    width: 430px;
    height: 70px;
    display: flex;
    align-items: end;
}

.category_box {
    width: 90%;
    height: 50%;
    margin-right: 15%;
    margin-left: 5%;
    display: flex;
}


#track1 {
    width: 40%;
    height: 100%;
    background-color: rgba(102, 192, 129, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#track1>p {
    margin: 0%;
}

#track2 {
    width: 25%;
    height: 100%;
    background-color: rgba(255, 136, 89, 0.7);
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: center;
}

#track2>p {
    margin: 0%;
}



#track3 {
    width: 30%;
    height: 100%;
    background-color: #1A4E4C;
    ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#track3>p {
    margin: 0%;
    color: white;
}

/*지금 모집 중인 팀*/

.showteambar {
    width: 430px;
    height: 600px;
    background-color: rgba(0, 58, 56, 0.9);
    display: flex;
    flex-direction: column;
}

.showteambar>p {
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
    color: white;
}

.team_box {
    width: 90%;
    height: 80%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team1,
.team2,
.team3 {
    width: 100%;
    height: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
}

#team1_pic,
#team2_pic,
#team3_pic {
    width: 30%;
    height: 80%;
    background-color: yellow;
    margin-left: 15px;
}

#team1_exp,
#team2_exp,
#team3_exp {
    width: 70%;
    height: 80%;
}

#team1_exp p,
#team2_exp p,
#team3_exp p {
    margin: 0%;
    margin-left: 15px;
}

#team1_exp p:nth-child(1),
#team2_exp p:nth-child(1),
#team3_exp p:nth-child(1) {
    color: rgba(102, 192, 129);
    font-weight: 600;
    font-size: 23px;
}

#team1_exp p:nth-child(3),
#team1_exp p:nth-child(4),
#team2_exp p:nth-child(3),
#team2_exp p:nth-child(4),
#team3_exp p:nth-child(3),
#team3_exp p:nth-child(4) {
    font-size: 19px;
    color: #003A38;
}

.showteambar h1 {
    font-size: 20px;
    margin-left: 320px;
    color: white;
}

/*마지막 공백 */
.emptybar {
    width: 430px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emptybar p {
    font-size: 12px;
    margin: 0%;
    color: #003A38;
}

#track1>a {
    text-decoration: none;
    color: #003A38;
}

#track2>a {
    text-decoration: none;
    color: #003A38;
}