.container{
    max-width: 430px;
    border:1px solid gray;
}

.header{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.header>p{
    margin: 0px 0px 0px 15px;
    color: #747474;
    font-size: 13px;
}

/*글자*/
.write{
    display: flex;
    align-items: center;
    width: 390px;
    height: 80px;
    padding: 0px 20px;
}

.write h1{
    color: #66C081;
    font-size: 30px;
    margin:0%;
    margin-left:10px;
}

/*업로드한 사진 보여주기*/
.pohto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 280px;
}

.upload_photo{
    height: 255px;
    width:255px;
    background-color: #ECE3D9;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

/* 올리기 버튼 */ 

.upload{
    height:70px;
    width:380px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0px 20px;
    
}

.upload_box{
    height: 100%;
    width:80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.upload_photo img{
    height:100%;
    width:100%;
}

/*버튼 부분*/
.btn_upload {
    width: 255px;
    height: 35px;
    background: #ECE3D9;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgb(77,77,77);
      color: #fff;
    }
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}

#fileInput{
    display: none;
    
}

#remove_btn{
    width: 175px;
    height: 35px;
    border-radius: 5px;
    background-color: #D9D9D9;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}
/*팀명을 작성해주세요*/

.putinfo{
    height: 150px;
    width: 430px;
    display: flex;
    justify-content: center;
}

.putinfo_box {
    height:85%;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


input[type="text"][name="put_team"]{
    width: 375px;
    height: 50px;
    background-color: #FFF9F2;
    border-radius: 10px; 
    border: 3px solid #003A38;
    font-size: 17px;
    padding-left: 10px;
}

input[type="text"][name="put_subject"]{
    width: 380px;
    height: 65px;
    background-color: #ECE3D9;
    border-radius: 10px; 
    font-size: 17px;
    padding-left: 10px;
    color:#747474;
    border:none;
    margin-top: 10px;
}


.keyword {
    height:280px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top:10px;
}

.field{
    height:120px;
    width:94%;
    background-color: blue;
    border: 2px solid #66C081;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track{
    height:140px;
    width:94%;
    background-color: blue;
    border: 2px solid #66C081;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#green_field{
    height: 32%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #66C081;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#green_field>p{
    margin:0%;
    font-weight: 600;
    color:white;
    margin-left: 10px;
    font-size: 20px;
}

#white_field{
    width:100%;
    height:75%;
    background-color:#FFFBF7;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 9px;
    display: flex;
    flex-direction: column;
}

#select{
    display:flex;   
    justify-content: space-around;
    padding: 10px;
}

#field_btn_1,#field_btn_2,#field_btn_3,#field_btn_4,
#track_btn_1,#track_btn_2,#track_btn_3,#track_btn_4,
#track_btn_5,#track_btn_6,#track_btn_7,#track_btn_8
{
    border:0;
    outline: none;
    font-size: 18px;
    background:#D9D9D9;
    margin:0%;
    cursor: pointer;
    border-radius: 18px;
    width: 90px;
    height:30px;
    color:#747474;
    font-weight: 550;
}

.track{
    margin:20px
}

.notice{
    display:flex;
    justify-content: center;
    height: 240px;
}

#notice_box{
    width: 370px;
    height: 190px;
    border: 3px dashed #FF8859;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    color: #003A38;
}

#block {
    width: 385px;
    border-radius: 10px;
    background-color: #ECE3D9;
    padding: 10px;
}

/*모집기간*/
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px 20px;
}

.input p {
    width: 400px;
    font-weight: 700;
    justify-content: left;
    font-size: 23px;
    margin:0px;
    color:#003A38;
    margin-top: 20px;
}

input[type="text"][name="put_date"],
input[type="text"][name="put_link"],
input[type="text"][name="put_member"]
{
    width: 380px;
    height: 50px;
    background-color: #ECE3D9;
    border-radius: 10px; 
    font-size: 17px;
    padding-left: 10px;
    color:#747474;
    border: none;
    margin-top: 10px;
}

input[type="text"][name="put_about_us"]
{
    width: 380px;
    height: 150px;
    background-color: #ECE3D9;
    border-radius: 10px; 
    font-size: 17px;
    padding-left: 10px;
    color:#747474;
    border: none;
    margin-top: 10px;
}

/**제출 버튼쪽*/
.submit{
    height:75px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 20px;
    margin-top: 30px;
}

.submit button[name="submit_btn"]{
    border:0;
    outline: none;
    font-size: 20px;
    margin:0%;
    cursor: pointer;
    border-radius: 18px;
    width: 175px;
    height:50px;
    font-weight: 550;
    background: #66C081;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 24px;
}

.submit button[name="store_btn"]{
    border:0;
    outline: none;
    font-size: 20px;
    margin:0%;
    cursor: pointer;
    border-radius: 18px;
    width: 175px;
    height:50px;
    font-weight: 550;
    background:;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 24px;
}


