.container{
    max-width: 430px;
    background: #ECE3D9B2;
}

.header{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.header>p{
    margin: 0px 0px 0px 15px;
    color: #747474;
    font-size: 13px;
}

/* 아이콘 */
.nav_top {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.nav_box {
    width: 370px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    border-radius: 5px;
    color:  #003A38;
}

a:link,
a:visited {
    color: inherit;
}

/*검색 창*/
.searchbar {
    width: 390px;
    height: 120px;
    padding: 20px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[name="word"]{
    width: 350px;
    height:20px;
    border: none;
    padding:10px 20px;
    font-size: 17px;
    color:black;
    border-radius: 5px;
}

#submit_btn{
    background: none;
    border:none;
    position: relative;
    top:-32px;
    left:340px;
    font-size:20px;
}

.search_row2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#search_field{
    width:180px;
    height:30px;
    border: 3px solid #FF8859;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #003A38;
}

#search_track{
    width:180px;
    height:30px;
    border: 3px solid #66C081;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #003A38;
    margin-left: 30px;
}

/*텍스트 검색 결과*/
.search_text{
    width:390px;
    height: 40px;
    padding:10px 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.search_text h1{
    font-size: 25px;
    margin:0%;
    color: #003A38;
}

/*검색결과 띄어주기*/

.show_result {
    display: flex;
    flex-wrap: wrap;
  }
  
  .result_item {
    flex: 0 0 50%; /* 아이템의 너비를 50%로 설정 (2개씩 표시하도록) */
    padding: 20px; /* 필요한 여백 설정 */
    box-sizing: border-box; /* 여백이 요소의 크기에 포함되도록 설정 */
  }
  
  
  
#result_pic{
    display: block;
    width:155px;
    height:175px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    align-items: center;
    
    padding-bottom: 10px;
}

.explain{
    display: block;
    width:100%;
    height:90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}
.result_item #result_pic img {
    margin-bottom: 10px;
    height: 75%;
    width: 100%;  
    object-fit: fill;

}
  

#result_exp{
    width:155px;
    height:60px;
    background-color: white;
    border-radius: 5px;
    padding:10px;
    margin-top: 10px;
}

#result_exp >p{
    margin:0%;
    font-size: 15px;
}

#result_cate{
    height: 30px;
    width:80%;
    border-radius: 13px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #003A38;
    margin-bottom: 10px;
}

#result_cate>p{
    margin:0%;
    color:white;
}

/*페이지 바*/
.end_bar{
    height: 100px;
    display:flex;
    justify-items: center;
    justify-content: space-around;
    align-items: center;

}  

.page_number{
    height:40px;
    width:110px;
    background-color: #FFF9F2;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_number p{
    color: #003A38;
}

