body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #003a38;
  max-width: 430px;
  height: auto;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

section[join] {
  display: flex;
  justify-content: center;
  padding: 40px 0 60px 0;
}

#top {
  display: flex;
  margin: 10px;
}

#input {
  display: flex;
  justify-content: center;
}

input {
  display: flex;
  background: #ece3d9;
  border-radius: 5px;
  border: none;
  padding: 12px 15px;
  width: 100%;
}

input[type="checkbox"] {
  width: 18px;
  display: flex;
  margin-right: 10px;
}

form {
  width: 350px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

label {
  padding: 30px 0 10px 0;
  font-size: 20px;
}

label:nth-of-type(2) {
  padding-top: 0;
}

button {
  display: block;
  width: 300px;
  height: 64px;
  background-color: #ff8859;
  line-height: 46px;
  border-radius: 30px;
  color: white;
  box-shadow: 2px 2px 5px gray;
  font-size: 20px;
}

#check {
  display: flex;
  position: absolute;
  right: 80px;
  top: 321px;
  background-color: #ff8859;
  width: 100px;
  height: 31px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  box-shadow: 0.5px 0.5px 3px gray;
}

#check_2 {
  display: flex;
  position: relative;
  left: 273px;
  top: 76px;
  background-color: #66c081;
  width: 70px;
  height: 31px;
  border-radius: 10px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 0.5px 0.5px 3px gray;
}

/* 확인버튼 박스 */
#check3 {
  display: flex;
  position: relative;
  background: #989898;
  width: 48px;
  height: 31px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 3px gray;
  position: relative;
  left: 297px;
  top: 188px;
}

/* 확인 버튼 텍스트 */
#check3 a {
  font-size: 14px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.agree {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  padding-top: 15px;
}

a:link,
a:visited {
  /*링크 방문 전*/
  color: inherit
  text-decoration-line: none;
}

.detail {
  display: flex;
  float: right;
}

img {
  display: flex;
  position: relative;
  margin: 20px;
}

#test {
  height: 0;
}

#test a {
  background-color: #ff8859;
  box-shadow: 0px 1px 4px 0px #00000040;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 33px;
  position: relative;
  top: 74px;
  left: 190px;
  border-radius: 10px;
  color: white;
  display: flex;
}