.container{
    max-width: 430px;
    border:1px solid gray ;
}

.header{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
}
.header>p{
    margin: 0px 0px 0px 15px;
    color: #747474;
    font-size: 13px;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}   

/*글자*/
.write{
    display: flex;
    align-items: center;
    width: 410px;
    height: 80px;
    padding: 10px 10px;
    justify-content: space-between;
}

.write h1{
    color: #66C081;
    font-size: 30px;
    margin:0%;
}

.post_btn{
    width: 112px;
    height: 34px;
    top: 151px;
    left: 258px;
    border-radius: 10px;
    background: #4E9A65;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_btn p{
    color: white;
    text-decoration-line: none;
    font-weight: 600;
}

/* 작성한 글 */
.categorybar{
    width:410px;
    height:40px;
    display: flex;
    align-items: end;
    padding-left: 20px;
}


#track1{
    width:103px;
    height: 35px;
    background-color:rgba(102, 192, 129, 0.7);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#track1>p{
    margin:0%;
    color:white;
}

#track2{
    width:115px;
    height: 35px;
    background: #ECE3D9;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    align-items: center;
    justify-content: center;
}

#track2>p{
    margin:0%;
    color: #003A38;
    ;
}


/*초록 배경*/
.writing_category{
    width:100%;
    height: 600px;
    background-color:#ECE3D9;
    display: flex;
    justify-content: center;
}

.white_box{
    width:90%;
    height: 90%;
    padding:0px 10px;

    background-color: white;
    border-radius: 5px;
    position: relative;
    top:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    overflow:scroll;
}

.team{
    background-color: white;
    border:4px solid #ECE3D9;
    width:355px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
}

.team_pic{
    width:95PX;
    margin: 10px 10px;
    background-color: none;
}

.team_pic img{
    width:100%;
    height: 100%;
}

.right{
    width:227px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}

.right h1{
    color : #66C081;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.right p{
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.repost_btn{
    width:165px;
    height:40px;
    background-color: #ECE3D9;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: auto;
}

.repost_btn p{
    text-align: center;
    margin:0px;
}

#row{
    display: flex;
}

#row>h1{
    width: 90%;
}