body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    max-width: 430px;
    border: solid 1px black;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    /* border: 1px solid black; */
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#top {
    display: flex;
    margin: 40px;
    font-size: 36px;
    justify-content: space-between;
    color: #003A38;
}

#box {
    width: 350px;
    height: 2876px;
    background-color: #ECE3D9;
    border-radius: 5px;
    margin-left: 40px;
    overflow: scroll;
}

#box p {
    margin: 20px;
    color: #003a38;
}

a:link,
a:visited {
    text-decoration: none;
    color: #003A38;
}