<!DOCTYPE html>
<html lang=" ko">
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/detail_rcv_apply.css' %}" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Co/mpatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav_orange.css' %}" />
  <title>16-1지원관리(관리자)</title>
</head>

<body>
  {% include 'shared/_navbar.html' %}
  <div class="_1">
    APPLY
    <div>
      <i class="fas fa-cog" style="font-size: 32px"></i>
      <a href="{% url 'users:detail_profile' %}">내 정보 수정</a>
    </div>
  </div>

  <section class="white">
    <div class="_3">
      지원자 포트폴리오
    </div>

    <div class="_2">
      {% if apply.status == 'under_review' %}
      <div class="btn"><a href="#">지원수락</a></div>
      <div class="btn"><a href="#">지원 거절</a></div>
      {% else %} 이미 검토가 끝난 지원서입니다 {% endif %}
    </div>

    <div class="_4">
      <div class="fix">지원 한마디</div>
      <div class="ment">{{apply.short_text}}</div>
    </div>

    <div class="_4">
      <div class="fix">닉네임</div>
      <div class="whitebox">{{profile.nickname}}</div>
    </div>

    <div class="_4">
      <div class="fix">나이</div>
      <div class="whitebox"> {{profile.age}}</div>
    </div>

    <div class="_4">
      <div class="fix">성별</div>
      <div class="whitebox">{{profile.gender}}</div>
    </div>

    <div class="_4">
      <div class="fix">학력</div>
      <div class="whitebox">{{profile.major}}</div>
    </div>

    <div class="_4">
      <div class="fix">연락 SNS 주소</div>
      <div class="whitebox">{{profile.contact}}</div>
    </div>

    <div class="_4">
      <div class="fix">자기소개</div>
      <div class="intro">{{profile.about_me}}</div>
    </div>

    </div>
  </section>

  <div id="color">
    <a href="#">지원 관리로 돌아가기</a>
  </div>
</body>

</html>