<!DOCTYPE html>
<html lang=" ko">
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail_profile.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Co/mpatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>기본정보 상세</title>

</head>

<body>

    <p>기본정보 상세</p>
    <a href="{% url 'users:edit_profile' %}">정보수정</a>
    <br>
    <img src="{{profile.profile_pic.url}}">


    <p>{{profile.nickname}}</p>
    <div>
        <p>이름 : {{profile.name}}</p>
        <p>이메일 : {{profile.user.email}}</p>
        <a>비밀번호 : 비밀번호 수정은 정보수정에서 가능합니다.</a>
    </div>
    <a href="{% url 'accounts:delete_account' %}">회원 탈퇴하기 <- 누르면 바로 계정 지워져요! 개발시 주의</a>
            <div>
                <p>문의하기</p>
                <a href="#">카카오톡 1:1 채팅방 링크</a>
                <p>likelion_coggiri@gmail.com</p>
            </div>
</body>

</html>