<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />

    <title>마이페이지</title>
</head>

<body>

    <div class="container">
        <a href="#" class="custom-link"><i class="fas fa-pen"></i></a>
    </div>



    <div class="center">
        <div id="top">
            <a href="#"><i class="fas fa-pen"></i></a>
            <a href="#"><i class="fas fa-home"></i></a>
            <a href="#"><i class="fas fa-user" style="color: #003a00;"></i></a>
        </div>
    </div>

    <div id="button">
        나의 페이지
        <div>
            <i class="fas fa-cog"></i>
            <a href="#">내 정보 수정</a>
        </div>
    </div>


    <div id="beige">
        <div>i</div>
        <p>라이언</p>
    </div>

    <div class="center">
        <div id="admin"><a href="#">지원 관리</a></div>
    </div>

    <div class="portfolio">

        <div id="title">
            MY PROTFOLIO
            <div id="fix"><a href="https://www.naver.com">수정</a></div>
        </div>

        <div id="box">

            <p>닉네임</p>
            <div id="block">라이언</div>
        </div>

        <div id="box2">
            <div id="minibox">
                <p>나이</p>
                <div id="block2">23세 (만22) </div>
            </div>

            <div id="minibox">
                <p>성별</p>
                <div id="block2">여자</div>
            </div>
        </div>

        <div id="box">

            <p>학력</p>
            <div id="block">동국대학교 경영학과</div>

            <p>연락 SNS 주소</p>
            <div id="block">
                <li>크왕@gmail.com</li>
                <li>@jyo_ing_</li>
            </div>

            <p>자기소개</p>
            <div id="block">안녕하세요. <br>
                열정이 넘치는 지원자 라이언입니다. <br>
                전공말고 다른 일을 더 많이 해요.<br>
                <br>
                전공말고 다른 일을 더 많이 해요.<br>
                <br>
                전공말고 다른 일을 더 많이 해요.<br><br>
                전공말고 다른 일을 더 많이 해요.<br><br>
                전공말고 다른 일을 더 많이 해요.<br><br>
                전공말고 다른 일을 더 많이 해요.<br>
            </div>
        </div>

        <div id="minibox">
            <a href="#">로그아웃</a>
        </div>


    </div>
</body>

</html>