<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet" />

  <title>마이페이지</title>
</head>

<body>
  <div class="container">
    <a href="#" class="custom-link"><i class="fas fa-pen"></i></a>
  </div>

  <div class="center">
    <div id="top">
      <a href="#"><i class="fas fa-pen"></i></a>
      <a href="#"><i class="fas fa-home"></i></a>
      <a href="#"><i class="fas fa-user" style="color: #003a00"></i></a>
    </div>
  </div>

  <div id="button">
    나의 페이지
    <div>
      <a href="{% url 'users:detail_profile' %}"><i class="fas fa-cog" style="font-size: 32px"></i><br>내 정보 수정</a>
    </div>
  </div>

  <div id="beige">
    <img src="{{ profile.profile_pic.url }}" alt="프로필 이미지" />
    <p>{{profile.nickname}}</p>
  </div>

  <div class="center">
    <div id="admin">
      <a href="{% url 'users:apply_manager' 'rcv_apply' %}">지원 관리</a>
    </div>
  </div>

  <div class="portfolio">
    <div id="title">
      MY PROTFOLIO
      <div id="fix"><a href="{% url 'users:edit_portfolio' %}">수정</a></div>
    </div>

    <div id="box">
      <p>닉네임</p>
      <div id="block">{{profile.nickname}}</div>
    </div>

    <div id="box2">
      <div id="minibox">
        <p>나이</p>
        <div id="block2">{{profile.age}}</div>
      </div>

      <div id="minibox">
        <p>성별</p>
        <div id="block2">{{profile.gender}}</div>
      </div>
    </div>

    <div id="box">
      <p>학력</p>
      <div id="block">{{profile.major}}</div>

      <p>연락 SNS 주소</p>
      <div id="block">{{profile.contact}}</div>

      <p>자기소개</p>
      <div id="block">{{profile.about_me}}</div>
    </div>
  </div>

  <div id="logout">
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
  </div>
</body>

</html>