
.nav_top {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.nav_box {
  width: 370px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 23px;
  border-radius: 5px;
  color: #ff8859;
}

.nav_i {
  color: #ff8859;
}

a:link,
a:visited {
  color: inherit;
}