body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    max-width: 430px;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

section {
    display: flex;
    margin: 20px 10px 28px 10px;
    padding: 22px;
    justify-content: center;
    border: solid 1px black;
}

.top {
    display: flex;
    margin: 10px;
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.check {
    margin: 10px;
    padding: 80px 0 80px 0;
}

button {
    display: block;
    width: 20vh;
    background-color: rgba(255, 127, 80, 0.63);
    line-height: 46px;
    border-radius: 30px;
    color: white;
}