{% extends 'base_mainpage.html' %}
{% block style %}
<style>
    .showteambar {
        width: 430px;
        height: 600px;
        background-color: rgba(255, 136, 89, 0.7);
        display: flex;
        flex-direction: column;
    }
</style>
{% endblock %}
{% block teamlist %}

<section class="showteambar">
    <p>지금 모집중인 팀</p>
    {% if posts %}
    <section class="team_box">

        {% for post in posts %}
        <div class="team">
            <div id="team_pic">
                <img src="{{ post.image.url }}" alt="사진">
            </div>
            <div id="team_exp">
                <p>{{ post.team_name }}</p>
                <p>{{ post.title }}</p>
            </div>
        </div>
        {% endfor %}
    </section>
    {% else %}
        <p>현재 팀이 없습니다.</p>
    {% endif %}
    
    <a href="">
        <h1>더보기 ▶</h1>
    </a>
</section>
{% endblock%}