{% extends 'base_mainpage.html' %}
{% block style %}
<style>
    .showteambar {
        width: 430px;
        height: 600px;
        background-color: rgba(102, 192, 129, 0.7);
        display: flex;
        flex-direction: column;
    }
</style>
{% endblock %}

{% block teamlist %}
<section class="showteambar">
    <p>지금 모집중인 팀</p>
    <section class="team_box">
        <div class="team1">
            <div id="team1_pic"></div>
            <div id="team1_exp">
                <p>할 수 있조</p>
                <div></div>
                <p>[녹색환경실천본부]</p>
                <p>2023 탈플라스틱 실천활동</p>
            </div>
        </div>

        <div class="team2">
            <div id="team2_pic"></div>
            <div id="team2_exp">
                <p>할 수 있조</p>
                <div></div>
                <p>[녹색환경실천본부]</p>
                <p>2023 탈플라스틱 실천활동</p>
            </div>
        </div>

        <div class="team3">
            <div id="team3_pic"></div>
            <div id="team3_exp">
                <p>할 수 있조</p>
                <div></div>
                <p>[녹색환경실천본부]</p>
                <p>2023 탈플라스틱 실천활동</p>
            </div>
        </div>
    </section>
    <h1>더보기 ▶</h1>
</section>
{% endblock %}